body.v4master.modal-open {
    margin-right: -15px;
}

.release-cal-modal__title,
.ms-WPBody h4.release-cal-modal__title {
    @include adjust-font-size-to(16px, 1);
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.release-cal-modal__body {
    @include adjust-font-size-to(14px, 1);
    text-align: left;
    max-height: 500px;
    overflow: auto;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
