@import 'helpers/compass-altered/typograpy/vertical_rhythm';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import 'variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/alerts';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/close';
@import 'loading';
@import 'modal';

$release-cal-table--head--color: #FFFFFF;
$release-cal-table--thead--bg-color: #1D659F;
$release-cal-table--border-color: #CCCCCC;
$release-cal-table--odd-row-bg-color: #EEEEEE;
$release-cal-table--even-row-bg-color: #FFFFFF;
$release-cal-table--product-head-bg-color: #123D5F;

.release-cal-app {
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: $font-color-text;
    min-height: 400px;
    *, *:before, *:after {
        box-sizing: inherit;
    }
}

.release-cal-table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    thead {
        background-color: $release-cal-table--thead--bg-color;
        color: $release-cal-table--head--color;
        [scope="colgroup"]:not(:last-child) {
            border-right: 1px solid $release-cal-table--head--color;
        }
        .release-cal-table__th--month--last:not(:last-child) {
            border-right: 1px solid $release-cal-table--head--color;
        }
    }
    td {
        border: 1px solid $release-cal-table--border-color;
        text-align: center;
        padding: 0.5em;
        font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
    }
    th {
        font-weight: 400;
        text-align: center;
        padding: 0.5em;
        &.release-cal-table__th--product {
            text-align: left;
        }
    }
}

.release-cal-table__data-row {
    td {
        @include adjust-font-size-to(12px, 0.5);
    }
    td:nth-child(n+2) {
        padding: 0;
    }
    td:first-child {
        text-align: left;
    }
    td:nth-child(2) {
        width: 4.5em;
    }
}

.release-cal-table__data-row--odd {
    // using class because striping restarts with product rows
    background-color: $release-cal-table--odd-row-bg-color;
}

.release-cal-table__data-row--even {
    background-color: $release-cal-table--even-row-bg-color;
}

.release-cal-table__product-row {
    background-color: $release-cal-table--product-head-bg-color;
    color: $release-cal-table--head--color;
    td {
        @include adjust-font-size-to(14px, 0.5);
        text-align: left;
        border-top-color: $release-cal-table--head--color;
    }
}

.release-cal-table__category-row {
    background-color: $release-cal-table--border-color;
    td {
        @include adjust-font-size-to(14px, 0.5);
        text-align: left;
    }
}

//col - colgroup: border, background, width and visibility.
.release-cal-table__col--year {
    width: 2.5em;
}

.release-cal-table__th--product {
    border-right: 1px solid $release-cal-table--head--color;
}

.release-cal-table__td--checked {
    width: 20px;
    height: 20px;
    position: relative;
    text-indent: 21px;
    overflow: hidden;
    display: block;
    margin: auto;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent url('/images/compatibility/platformCompatibilityYesIcon.png') no-repeat 50% 50%;
    }
}

.release-cal-details-link {
    @include adjust-font-size-to(14px, 0.5);
    text-decoration: underline;
    position: relative;
    cursor: pointer;
    color: $link-color;
    font-weight: 300;
    border: 0;
    background: transparent;
}

p.release-cal-warning__text {
    margin-bottom: rhythm(1);
}
