<table id="newTable" class="release-cal-table">
    <colgroup span="2"></colgroup>
    {{{[helpers/colgroups-months] start end }}}
    <thead>
    <tr>
        <th class="release-cal-table__th--product" rowspan="2" colspan="2">Product</th>
        {{{[helpers/th-years] start end }}}
    </tr>
    <tr>
        {{{[helpers/th-months] start end}}}
    </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr class="release-cal-table__product-row">
            <td colspan="{{../totalColumns}}">{{@key}}</td>
        </tr>
        {{#each this}}
            {{#[helpers/if-neq] @key 'undefined' }}
                <tr class="release-cal-table__category-row">
                    <td colspan="{{../../totalColumns}}">{{@key}}</td>
                </tr>
            {{/[helpers/if-neq]}}
            {{#each this}}
                <tr class="{{[helpers/stripeClass] @index}} release-cal-table__data-row">
                    <td>{{Release_x0020_Version}}</td>

                    <td>
                        {{#if Details}}
                            <button class="release-cal-details-link release-cal-details-link--{{@../../index}}-{{@../index}}-{{@index}}"
                                    data-toggle="modal"
                                    data-target=".release-cal-modal--{{@../../index}}-{{@../index}}-{{@index}}">
                                Details
                            </button>

                            <div class="modal release-cal-modal release-cal-modal--{{@../../index}}-{{@../index}}-{{@index}}"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="ReleaseCalModal__title--{{@../../index}}-{{@../index}}-{{@index}}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="release-cal-modal__title"
                                                id="ReleaseCalModal__title--{{@../../index}}-{{@../index}}-{{@index}}">
                                                {{[helpers/modalTitle] @../key @../../key}}
                                                {{Release_x0020_Version}}
                                            </h4>
                                        </div>
                                        <div class="modal-body release-cal-modal__body">
                                                {{{Details}}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    </td>
                    {{{[helpers/td-months] ../../../start ../../../end Estimated_x0020_Release_x0020_Da}}}
                </tr>
            {{/each}}
        {{/each}}
    {{/each}}
    </tbody>
</table>
