<div class="release-cal-warning alert alert-info alert-dismissible fade in" role="alert">
    <h4>Notice</h4>
    <p class="release-cal-warning__text">
        The information presented on this page is proprietary and confidential to Campus Management Corp. Please do not
        share or discuss it with others outside of your institution/organization. The page may contain plans and forward
        looking statements and the information as presented may be subject to change.
    </p>
    <div class="release-cal-warning__btn-group">
        <button type="button" class="btn btn-primary">I Understand</button>
        <a class="btn btn-default" href="/">Go Back</a>
    </div>
</div>
